@import url(https://fonts.googleapis.com/css?family=Libre+Franklin:100,400,600,900&display=swap);

//Colors
$primary-text-color: #000;
$secondary-text-color: rgb(56, 56, 56);
$card-background-color: rgba(255, 255, 255, .5);
$home-color: rgba(33, 167, 61, .9);
$action-color: rgba(113, 208, 241, .9);
$demand-color: rgba(237, 155, 196, .9);
$tweak-color: rgba(189, 102, 255, .9);
$add-color: rgba(252, 215, 5, .9);
$collapsible-in-card-background-color: transparent;
// $gradient-main-background: linear-gradient(90deg, rgba(195,223,247,0.5816701680672269) 0%, rgba(173,164,249,0.43881302521008403) 71%);
// $gradient-background: linear-gradient(90deg, rgba(195,204,247,0.39399509803921573) 0%, rgba(209,203,254,0.43881302521008403) 61%);

//Variables
$card-padding: 8px;
$inside-card-l-r-margin: 8px;

.stories-background-color {
  background-color: $home-color;
}

.action-background-color {
  background-color: $action-color !important; //Remove this
}

.demand-background-color {
  background-color: $demand-color !important; //Remove this
}

.tweak-background-color {
  background-color: $tweak-color !important; //Remove this
}

.add-background-color {
  background-color: $add-color !important; //Remove this
}

.grey-color {
  color: grey;
}

.green-color {
  color: rgb(33, 167, 61);
}

.tweak-color {
  color: rgb(189, 102, 255);
}

.inner-shadows-inset {
  -webkit-box-shadow: inset 1px 1px 3px 2px rgba(0,0,0,0.2);
  -moz-box-shadow: inset 1px 1px 3px 2px rgba(0,0,0,0.2);
  box-shadow: inset 1px 1px 3px 2px rgba(0,0,0,0.2);
}

.inner-shadows-outset {
  -webkit-box-shadow: 1px 1px 2px 2px rgba(0,0,0,0.11);
  -moz-box-shadow: 1px 1px 2px 2px rgba(0,0,0,0.11);
  box-shadow: 1px 1px 2px 2px rgba(0,0,0,0.11);
}

.card-padding {
  padding: $card-padding !important; //Remove this
}

.main-border-color {
  border: .5px solid #666;
}


//Main
html { 
  background: url(https://images.unsplash.com/photo-1571238052771-c6e35627d337?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
}

body {
  background-color: transparent;
  font-family: 'Libre Franklin', sans-serif;
}

.App {
  padding-bottom: 200px;
  max-width: 400px;
  margin: auto;
}

//Text
h1,
h2,
h3 {
  font-family: 'Libre Franklin', sans-serif;
}

h1,
h2 {
  font-weight: 800;
}

ul {
  padding-inline-start: 0;
}

.hashtag {
  font-family: 'Libre Franklin', sans-serif;
  font-size: 1.3rem;
  font-weight: 600;
  margin: 0 8px;
}

.separator {
  width: 100%;
  border-bottom: 1px solid rgba(0,0,0,.125);
  padding-top: 5px;
}

//Sections
.section {
  padding: 10px;
}

.small-section {
  margin: 3px;
}

.demand-header {
  display: flex;
  margin: 8px 8px 6px 0;

  .voting-section {
    width: 350px;
  }
}

.card-wrapper {
  margin-bottom: 30px;
}

.small-card-header {
  display: flex;
  justify-content: space-between;

  div + div {
    text-align: right;
  }
}

.action-section {
  background-color: $action-color;
  margin: 20px 0;
  padding: 5px 8px;
}

.story-section {
  margin: 50px 0 10px 0;

  h2 {
    padding-left: $inside-card-l-r-margin;
    padding-right: $inside-card-l-r-margin;
    margin-bottom: 0;
    padding-bottom: 0;
  }
}

.card-stats-section {
  margin: 0 10px;
}

.search-filter {
  @extend .inner-shadows-inset;
  border: .5px solid #fff;
  background-color: rgba(0, 0, 0, .3);
  font-size: 12px;
  text-align: center;
  border: 0;
  max-width: 135px;
  border-radius: 4px;
  padding: 5px;
  transition-property: all;
  transition: 1s;
  position: absolute;
  top: 10px;
  right: 10px;

}

.search-filter:focus,
.search-filter:hover {
  outline: none;
  background: transparent;
  opacity: .7;
}

input::placeholder {
  color: #fff;
}

input[type=checkbox] {
  margin-right: 5px;
}

.form-group {
  margin: 0;
  line-height: .5;
}

.stories {
  @extend .flex-left;
  @extend .section;
  padding-left: 10px;
  padding-bottom: 10px;
  overflow: auto;
  white-space: nowrap;

  .story {
    text-align: center;
    margin-right: 30px;
    display: inline-block;

    h5 {
      color: #fff;
      font-size: 12px;
      margin: 0;
      text-align: center;
    }
  
    h5 + h5 {
      font-size: 10px;
    }
  }
}

//Helpers
.hide {
  display: none;
}

.bold {
  font-weight: 600;
}

.text-center {
  text-align: center;
}

.no-margin {
  margin: 0;
}

.fit-content {
  width: fit-content;
}

.full-width {
  width: 100%;
}

.flex-spread {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-spread-end {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.flex-spread-start {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.flex-left {
  display: flex;
  align-items: center;
  justify-content: left;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-column-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.border-left {
  border-left: .5px solid grey;
  margin-left: 10px;
}

.margin-bottom-10px {
  margin-bottom: 10px;
}

//Items
.appendice {
  margin: 10px 0;
   a {
    color: darkblue;
    font-style: italic;
   }
}

.changes {
  background-color: lightgreen;
  border-left: 4px solid lightgreen;
  border-right: 4px solid lightgreen;
}

.countdown {
  font-size: 10px;
  text-align: center;
  width: 95px;
  float: right;
}

.collapsible-in-card {
  cursor: pointer;
  background: $collapsible-in-card-background-color;
  padding: 0 5px;
  margin-bottom: 25px;
}

.collapsible-content {
  transition: .5s;
  width: 100%;
}

.compare-commits {
  display: flex;
  justify-content: space-between;

  p {
    font-size: 12px;
    width: fit-content;
    margin: 0;

    &.bold {
      margin-bottom: 10px;
    }
  }

  .edit-section {
    margin: 15px 0;
    width: 50%;
  }

  .edit-section + .edit-section {
    padding-left: 8px;
    border-left: .5px solid grey;
 }
}

.edit {
  h6 {
    margin-top: 5px;
  }
}

.header-with-background {
  background: transparent;
  padding-left: 6px;
  font-size: 12px;
}

.tight-header {
  p {
    font-size: 12px;
    margin: 0;
    padding: 0;
  }
}

.pill {
  padding: 2px 4px;
  margin: 0;
  font-size: 11px;
  font-weight: 600;
  color: #fff;
  width: fit-content;
  float: right;

  &.red {
    background-color: red;
  }

  &.darkblue {
    background-color: darkslateblue;
  }
}

.mask {
  display: inline-block;
  width: 50px;
  max-height: 50px;
  border-radius: 50%;
  overflow: hidden;
  
  img {
    height: 50px;
    width: 50px;
    object-fit: cover;
    border-radius: 50%;
  }
}

.logo {
  height: 15vmin;
  pointer-events: none;
}

.logos {
  width: 60px;
  margin-right: 15px;
}


//Voting & Comments

.voting-section {
  background-color: transparent;
  float: right;
}

.icon-section {
  display: flex;
  align-items: center;

  h6 {
    font-size: .9rem;
    font-family: 'Libre Franklin', sans-serif;
    color: $primary-text-color;
    margin-right: 5px;
    margin-bottom: 0;
  }

  &.sign {
    margin-top: 5px;
    h6 {
      margin-left: 10px;
      margin-right: 8px;
    }
  }
}

.icon-margin-left {
  margin-left: 3px;
}

.fa-icons {
  border: 0;
  display: flex;
  font-family: 'FontAwesome';
  background-color: transparent;
  
  * {
    color: $primary-text-color;
    font-size: 1.5rem;
    font-style: normal;
    transition: 0.2s;
  }

  *:hover, 
  *:active, 
  *:focus, 
  *.active {
    color: red;
  }

}

.large-icon {
  font-size: 2rem;
}

.small-icon {
  font-size: 1rem;
}

.countUp {
  padding: 0 15px;
  content: '\f0d8';
}

.countDown {
  padding: 0 15px;
  content: '\f0d7';
}


//Bootstrap overrides
a {
  color: #666;
  transition: .5s;
}

button:focus {
  outline: none;
}

.nav {
  justify-content: space-between;
}

.nav-tabs {
  border-bottom: 0;
  margin-bottom: 15px;
}

.nav-tabs .nav-link {
  border: 0;
  color: #000;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-link:hover,
.nav-tabs .nav-link:focus, 
a:active,
a:hover,
a:focus {
  font-size: 1.5rem;
  outline: none;
  font-weight: 600;
  border: 0;
  border-color: transparent;
  color: $primary-text-color;
  background-color: transparent;
  transition: .5s;
}

.card {
  width: 100%;
  margin-bottom: 10px;
  background-color: $card-background-color;
  border-radius: 0;
  box-shadow: none;
  border: 0;

  h5 {
    text-align: -webkit-right;
    font-size: 1.1rem;
    font-weight: 600;
    padding: 0;
    margin: 0;
  }
}

.card-header {
  padding: $card-padding;
  background-color: transparent;
  border-bottom: 0;
  cursor: pointer;

  i {
    transition: 1s;
  }

  i:hover,
  i:active,
  i:focus {
    color: red;
  }
}

.card-header:hover,
.card-header:focus,
.card-header.active {
  
  i {
    color: red;
  }
}

.card-body {
  border-top: 1px solid rgba(0,0,0,.125);
  padding: $card-padding;
}

.tab-content {
  margin-bottom: 200px;
}
