@import url(https://fonts.googleapis.com/css?family=Libre+Franklin:100,400,600,900&display=swap);


//Main
html {
  background: rgba(92,129,202,1);
  background: 
    -moz-linear-gradient(
      left, 
      rgba(92,129,202,1) 0%, 
      rgba(249,140,112,1) 100%
  );
  background:
    -webkit-linear-gradient(
        left, 
        rgba(92,129,202,1) 0%, 
        rgba(249,140,112,1) 100%
  );
}

body {
  background-color: transparent;
  font-family: 'Libre Franklin', sans-serif;
}


//Text

h1,
h2,
h3 {
  font-family: 'Libre Franklin', sans-serif;
}

h1,
h2 {
  font-weight: 800;
}

.card {
  background-color: rgba(255, 255, 255, .2) !important;
}


//Helpers
.one-line-spread {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.one-line-left {
  display: flex !important;
  align-items: center;
  justify-content: left;
}

.one-line-column {
  @extend .one-line-spread;
  flex-direction: column;
  margin: 15px 0;
}

//Sections

.section {
  margin: 10px 15px;
}


//Items
.avatar {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-right: 20px;
}

.logo {
  height: 15vmin;
  pointer-events: none;
}

.logos {
  width: 60px;
  margin-right: 15px;
}

//COMPONENTS

//Accordion custom

.accordion-info {
  @extend .one-line-spread;
  justify-content: space-between;
  margin: 0 20px;
}

.accordion-custom-trigger-section {
  @extend .one-line-spread;
  justify-content: space-between;
}

.accordion-custom-title-countup-section {
  flex-grow: 2;
}

.accordion-custom-title {
  font-size: 18px;
  color: #000;
  line-height: normal;
}

.accordion-custom-countup {
  font-size: 25px;
  color: #000;
  font-weight: 800;
}

//Stages
.stages-section {
  display: flex;

  .stage {
    color: rgba(255, 255, 255, 0.6);
    background-color: rgba(0,0,0,0.2);
    padding: 7px 20px 7px 13px;
    margin-right: 1px;
    min-width: 90px;
    border-radius: 0 100px 100px 0;
  }

  .act {
    background-color: red;
  }
}

//Voting
.voting-and-title {
  display: flex;
  align-items: center;
}

.voting {
  align-items: center;

  h6 {
    width: 80px;
    font-weight: 600;
  }
}

.countUp,
.countDown {
  border: 0;
  font-family: 'FontAwesome';
  background-color: transparent;
}

.countUp {
  content: '\f0d8';
  padding: 10px 20px 30px 20px;
}

.countDown {
  content: '\f0d7';
  padding: 30px 20px 10px 20px;
}

//Progress
.progress-section {
  display: flex;
}

.progress {
  font-family: 'Libre Franklin', sans-serif;
  text-transform: uppercase;
  font-weight: 100;
  font-size: 10px;
  width: fit-content;
  padding: 10px;
  background: #000;
  color: #fff;
  margin-right: 3px;
}

.take-action {
  background-color: red;
  color: black;
  font-weight: 400;
}

