@import url(https://fonts.googleapis.com/css?family=Libre+Franklin:100,400,600,900&display=swap);

//Colors
$primary-text-color: #000;

//Variables
$inside-card-l-r-margin: 8px;

//Main
html {
  background: rgba(92,129,202,1);
  background: 
    -moz-linear-gradient(
      left, 
      rgba(92,129,202,1) 0%, 
      rgba(249,140,112,1) 100%
  );
  background:
    -webkit-linear-gradient(
        left, 
        rgba(92,129,202,1) 0%, 
        rgba(249,140,112,1) 100%
  );
}

body {
  background-color: transparent;
  font-family: 'Libre Franklin', sans-serif;
}

.section {
  padding: 10px;
}

//Text

h1,
h2,
h3 {
  font-family: 'Libre Franklin', sans-serif;
}

h1,
h2 {
  font-weight: 800;
}

.card {
  margin-bottom: 8px;
  background-color: rgba(255, 255, 255, .2) !important;

  h5 {
    margin: 25px $inside-card-l-r-margin;
  }
}

.separator {
  width: 100%;
  border-bottom: 1px solid rgba(0,0,0,.125);
}

//Helpers
.one-line-spread {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.one-line-left {
  display: flex;
  align-items: center;
  justify-content: left;
}

.one-line-column {
  @extend .one-line-spread;
  flex-direction: column;
  margin: 15px 0;
}


//Items
.avatar {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-right: 20px;
}

.logo {
  height: 15vmin;
  pointer-events: none;
}

.logos {
  width: 60px;
  margin-right: 15px;
}

//COMPONENTS

//Stages
.stages-section {
  @extend .one-line-left;
  margin: 6px $inside-card-l-r-margin 2px;

  h6 {
    color: $primary-text-color;
    font-family: "Libre Franklin";
    margin: 0;

    &.act {
      color: red;
      font-weigth: 600;
    }
  }

  .stage {
    display: flex;
    align-items: center;
    font-family: "FontAwesome";
    color: rgba(255, 255, 255, 0.6);
  }

  .stage::after {
    content: " > ";
    color: $primary-text-color;
    margin: 0 5px 4px;
  }

  .stage:last-of-type::after {
    content: "";
  }
}

//Voting & Comments
.action-section {
  @extend .one-line-spread;
  padding-left: 5px;
 }

.icon-section {
  display: flex;
  align-items: center;

  h6 {
    color: $primary-text-color;
    margin: 0;
  }
}

.fa-icons {
  border: 0;
  font-family: 'FontAwesome';
  background-color: transparent;
  
  i {
    color: $primary-text-color;
    font-size: 1.3rem;
    font-style: normal;
    transition: 0.2s;
  }

  i:hover, i:active, i:focus, i.active {
    color: #000;
  }

}

.countUp {
  padding: 0 15px;
  content: '\f0d8';
}

.countDown {
  padding: 0 15px;
  content: '\f0d7';
}

.commentIcon {
  content: '\f075';
}

//Bootstrap overrides
a {
  color: #666;
}

a.active {
  color: #000;
}

.nav-tabs .nav-link.active {
  border: 0;
  font-weight: 600;
  color: $primary-text-color;
  background-color: transparent;
}

.card-header {
  border-bottom: 0;
  cursor: pointer;

  i {
    transition: 1s;
  }

  i:hover,
  i:active,
  i:focus {
    color: red;
  }
}

.card-header:hover,
.card-header:active,
.card-header:focus,
.card-header.active {
  i {
    color: red;
  }
}